.book-detail-section {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: blue;*/
}

.book-detail-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 90vw;
  /*background-color: cyan;*/
}

.book-content-header {
  display: flex;
}

.book-information {
  display: flex;
  flex: 1;
  flex-direction: column;
  /*background-color: blue;*/
  margin-left: 1rem;
  justify-content: space-between;
}

#book-cover {
  display: flex;
  width: 5rem;
  height: 7rem;
  background-color: green;
  align-self: flex-start;
}

#book-description {
  margin-top: 1rem;
}

#pinjam-button {
  white-space: nowrap;
  padding: 0 .3rem;
}

.button-wrapper {
  background-color: cyan;
  width: 2rem;
}