.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  white-space: nowrap;
  /* background-color: cyan; */
}

.main-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  background-color: green;
}

.book-list-container {
  margin-top: 1rem;
  align-self: flex-start;
  width: 100vw;
  height: auto;
}

.book-list {
  margin-top: 1rem;
}

.book-list-wrapper {
  margin-top: .5rem;
  display: flex;
  gap: .5rem;
}

#home-book-cover {
  width: 5rem;
  height: 7rem;
  background-color: blue;
}

#book-no-cover {
  width: 5rem;
  height: 7rem;
  background-color: dodgerblue;
}