.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  white-space: nowrap;
  /* background-color: cyan; */
}

.main-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  /*background-color: green;*/
}

.book-list-container {
  margin-top: 2rem;
  align-self: flex-start;
  width: 100%;
  height: auto;
}

.book-list {
  margin-top: 1rem;
}

.book-list-wrapper {
  margin-top: .5rem;
  display: flex;
  gap: .5rem;
  /*background-color: cyan;*/
  overflow-x: auto;
}

#book-no-cover {
  width: 5rem;
  height: 7rem;
  background-color: dodgerblue;
  flex-shrink: 0;
  overflow-x: auto;
}

#book-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 5rem;
}